@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,1,700&family=Inter:wght@300;400;700&display=swap');
body{
    @apply text-gray-600 text-lg text-center;
    
}

.header{
    @apply w-full fixed h-auto z-20 bg-white px-5 shadow-lg grid grid-cols-6 grid-rows-2  gap-1 items-center sm:justify-between sm:grid-rows-1 sm:items-center ;
}

/*logo*/

.logo{
    @apply col-span-1;
}

/* search form */
.form{
    @apply col-start-1 col-end-7 sm:col-start-2 sm:col-end-5 sm:row-end-1 relative;
}
.search{
    @apply  text-sm border border-gray-300 h-8 px-4 py-1 rounded-lg w-full outline-none active:border-orange-400 shadow-gray-500 shadow-sm focus:border-orange-400 placeholder:text-sm placeholder:text-gray-600 md:w-[400px];
}

/* nav bar*/
.nav{
  @apply  col-start-2 col-end-7 sm:col-start-5 sm:col-end-7 justify-self-end;
}

/* links */
.link{
    @apply mx-1  transition hover:text-orange-400 active:text-orange-400  capitalize sm:text-sm;
}

/*hero section */
.hero{
    background:linear-gradient(70deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("./img/hero.jpg");
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    @apply bg-no-repeat bg-cover h-[80vh] w-full bg-black flex items-center justify-center flex-col;
}

.jumbo{
    /* background:linear-gradient(70deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("./img/jumbo.png") no-repeat;
    background-size: cover; */
    background:linear-gradient(70deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("./img/jumbo.jpg");
    @apply bg-right bg-no-repeat bg-cover  h-64 flex justify-center items-center md:bg-right lg:bg-center;
    /* clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%); */
    /* bg-[url("./img/jumbo.jpg")] */
}

/* divider*/
.divider{
    @apply w-12 bg-orange-400 py-[2px]  my-1;
}

/* buttons */
.btn{
  @apply  rounded-full px-6 py-2 w-fit capitalize shadow-sm border-none transition-all bg-orange-400 text-white  hover:bg-orange-500 text-sm;
}

.btn-blue{
    @apply rounded-md py-1 bg-blue-500 items-center hover:bg-blue-400 transition border-none flex justify-between gap-1 text-white text-sm; 
}

.digit{
    @apply py-2 px-3 text-sm min-w-[24px] border flex justify-center items-center border-orange-400 transition hover:bg-orange-400 hover:text-white;
}

.btn-change-verse{
    @apply flex items-center gap-1 bg-slate-700 justify-center rounded-sm px-3 h-8 w-8 hover:bg-slate-600 ;
}

/* card*/
.card{
  @apply w-full bg-white border-l-8 transition border-l-orange-200 hover:border-l-orange-300 hover:bg-gray-200 flex flex-col justify-evenly shadow-gray-800 shadow-md sm:w-[200px] p-3 rounded-md overflow-hidden relative z-10 sm:h-[300px];
}

/* not-found-wrapper */
.not-found-wrapper{
  @apply pt-10 w-full bg-orange-200 p-96 h-[100vh] bg-[url('./img/page-not-found.png')] flex items-center justify-center shadow-md  bg-no-repeat bg-center;
  background-size: 80%;
}

/* disable the search results when clicked */
.hide{
    display: none;
    @apply pt-0;
}
.show{
    @apply w-full flex items-end justify-center flex-col gap-1 border-none  max-h-[90vh] overflow-y-scroll top-10  shadow-sm text-sm shadow-gray-600 px-1 bg-gray-300 rounded-md absolute z-50  scrollbar scrollbar-thumb-orange-400 scrollbar-thin scroll-mx-4 scrollbar-track-gray-500 scrollbar-track-gray-100;
}